body {
    background-color: rgb(216, 222, 226);
}

form input {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.numberTwo {
    margin-left: 80px;
}

.formTwo {
    margin-top: 8px;
}

form button {
    background-color: black;
    color: white;
    border: none;
    padding: 6px 28px;
    border-radius: 28px;
}

.card-container {
    background-color: white;
}

.card-container img {
    width: 347px;
    height: 240px;
}